<% block 'title': %>MIJS 2014 夏合宿<% end %>
<% block 'navbar-brand': %>MIJS 2014 夏合宿: jQuery.Deferred による非同期プログラミング<% end %>

<% extend 'base.ect' %>
<% include 'navbar.ect' %>

<div class="page-header">
<h1>
	jQuery.Deferred による非同期プログラミング
	<div><small>JavaScript / jQueryチーム 非同期処理サブチーム</small></div>
</h1>
</div>

<div class="demo-description">
<h2>概要</h2>
<p>JavaScript は時間がかかる処理は非同期で行うことが基本となっており、
実装としてはコールバック関数を API に渡すことで処理完了時にそれが呼ばれる、
というのが典型的な使い方になります。
しかし複数の非同期処理を連続または並列に処理したい、という場面で
しばしば<strong>「コールバック地獄」</strong>という残念な現象が発生し、
われわれを苦しめることになります。
</p>
<p>
非同期にまつわる問題に対して、さまざまな取り組みがなされていますが、
今回は jQuery に備わっている Deferred という機能を使うことで、
複雑な非同期処理が簡潔に実装できるようになることを紹介します。
</p>
<p>
<a href="http://api.jquery.com/category/deferred-object/">http://api.jquery.com/category/deferred-object/</a>
</p>
</div>

<div class="panel-group" id="accordion">
  <% include 'demo-panel1.ect', {panel_id: 'demo-panel1', panel_title: '非同期デモ #1'} %>
  <% include 'demo-panel2.ect', {panel_id: 'demo-panel2', panel_title: '非同期デモ #2'} %>
  <% include 'demo-panel3.ect', {panel_id: 'demo-panel3', panel_title: '非同期デモ #3'} %>
  <% include 'demo-panel4.ect', {panel_id: 'demo-panel4', panel_title: '非同期デモ #4'} %>
  <% include 'conclusion-panel.ect', {panel_id: 'conclusion-panel', panel_title: 'まとめ'} %>
</div>
